@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  background: transparent !important;
}

/* Custom properties */

:root {
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Montserrat", sans-serif;

  --fw-300: 300;
  --fw-700: 700;

  /* Light theme custom properties */
  --color-primary: #2e2e2e;
  --color-primary-dark: #262622;
  --color-accent: #2a8017;
  --color-accent-dark: #2a8017;
  --color-primary-light: #fcfbf0;

  --color-inverted-nav: #fcfbf0;

  --color-alt-dark: #262622;

  --header-fill: #fff;
  --footer-fill: #000;

  --background-footer: #2e2e2e;

  --primary-focus: 0.125rem dotted var(--color-primary-dark);
  --secondary-focus: 0.125rem dotted var(--color-primary-light);

  --background-body: linear-gradient(to top, white, rgba(255, 255, 255, 0.63), white), var(--bg) center;
  --background-profile: linear-gradient(to top, rgba(114, 114, 114, 0.13), #00000000);

  --background-image: url("./assets/images/light-bg.jpg");
  --background-blur: rgba(255, 255, 255, 0.612);
}

html {
  color-scheme: dark light;
}

[data-theme="dark"] {
  /* Dark theme custom properties */
  --color-primary: #ffffff;
  --color-primary-dark: #ffffff;
  --color-accent: #00ac1c;
  --color-primary-light: #fcfbf0;
  --color-inverted-nav: #262622;

  --primary-focus: 0.125rem dotted var(--color-primary-light);
  --secondary-focus: 0.125rem dotted var(--color-inverted-nav);

  --header-fill: var(--color-inverted-nav);

  --background-image: url("./assets/images/dark-bg.jpg");
  --background-blur: rgba(255, 255, 255, 0.004);
}

ul {
  list-style: none;
  padding-left: 0;
}

img {
  max-width: 100%;
}

body {
  min-height: 100%;
  height: auto;
}

body {
  position: relative;
  overflow-x: hidden;
  color: var(--color-primary);
  font-family: var(--primary-font);
  background-image: var(--background-image);
  background-size: 650%;
  background-position: right;
  background-attachment: fixed;
  background-repeat: no-repeat;

  @media (min-width: 48rem) {
    background-size: 300%;
  }
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* This makes it cover the full height of body */
  min-height: 100vh; /* Ensures it at least covers the viewport */
  z-index: -1;
  background: var(--background-blur);
}

.content-grid {
  --_padding-inline: 3rem;
  --_content-max-size: 75rem;

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--_padding-inline), 1fr) [content-start] min(100% - (var(--_padding-inline) * 2), var(--_content-max-size))
    [content-end] minmax(var(--_padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.full-width),
.full-width > :not(.full-width) {
  grid-column: content;
}

.full-width {
  grid-column: full-width;
  display: grid;
  grid-template-columns: inherit;
}

a:hover {
  text-decoration: underline;
}

a:focus {
  outline: var(--primary-focus);
}

nav li {
  position: relative;
}

nav a {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.113rem;
  transition: 0.2s;
}

nav a::before {
  display: none;
  content: "";
  position: absolute;
  background-color: #35961d;
  animation: background-color-shift 1.5s infinite;
  width: 0.625rem;
  height: 0.625rem;
  bottom: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}

nav a:focus {
  outline: var(--secondary-focus);
  text-decoration: underline;
}

nav a:hover,
nav a:focus {
  transform: scale(1.1);
  &::before {
    display: block;
  }
}

.sub-title {
  position: relative;
  margin-block-start: 13rem;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--secondary-font);
  font-size: 2.3rem;
  font-weight: var(--fw-700);
  color: var(--color-primary);
}

.sub-title::before {
  position: absolute;
  content: "";
  display: block;
  width: 3rem;
  height: 0.16rem;
  background-color: var(--color-accent);
  top: 3.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.sub-title::after {
  position: absolute;
  content: "";
  display: block;
  width: 6rem;
  height: 0.16rem;
  background-color: var(--color-accent);
  top: 4.1rem;
  left: 50%;
  transform: translateX(-50%);
}

.socials-icon {
  width: 2rem;
  height: 2rem;
}

.socials-link svg {
  transition: transform 0.1s ease-in-out;
}

.socials-link:hover svg,
.socials-link:focus svg {
  transform: scale(1.2);
}

.profile__socials .socials-link .linkedIn g path:nth-of-type(2) {
  fill: var(--header-fill);
}

.footer__socials .socials-link .linkedIn g path:nth-of-type(2) {
  fill: var(--footer-fill);
}

.link-btn {
  display: inline-block;
  line-height: 0;
  color: var(--color-inverted-nav);
  background-color: var(--color-primary);
  text-decoration: none;
  padding-inline: 2em;
  padding-block: 1.5em;
}

.link-btn:hover,
.link-btn:focus {
  color: var(--color-primary-light);
  background-color: var(--color-accent-dark);
}
.logo {
  font-size: 2.6rem;
  font-weight: var(--fw-regular);
  font-family: var(--secondary-font);
}

.dot {
  font-size: 5.7rem;
  line-height: 1rem;
  color: #35961d;
  -webkit-animation: color-shift 1.5s infinite;
  animation: color-shift 1.5s infinite;
}

nav a:hover {
  text-decoration: underline;
}

/* Header */

.header {
  position: relative;
}

.skip-link {
  position: absolute;
  z-index: 999;
  padding-block: 2em;
  padding-inline: 1em;
  left: 50%;
  transform: translateX(-50%);
  top: -100rem;
  background-color: var(--color-primary);
  color: var(--color-inverted-nav);
  transition: top 0.3s ease-in-out;
}

.skip-link:focus {
  top: 0;
}

.header__logo {
  position: relative;
  top: 0.5rem;

  @media (min-width: 48rem) {
    top: 2.4rem;
  }
}

.header__mobile-btn {
  position: absolute;
  z-index: 100;
  right: 2rem;
  top: -0.9rem;
  width: 3.125rem;
  margin-block-start: 1.8rem;
  cursor: pointer;
  background-color: transparent;
  border: none;

  @media (min-width: 48rem) {
    display: none;
  }
}

.header__mobile-btn span {
  display: block;
  position: relative;
  background-color: var(--color-primary-dark);
  margin-block: 0.4rem;
  margin-inline: 0.4rem;
  height: 0.188rem;
  transition: all 0.3s ease;
}

.header__mobile-btn.active span:nth-child(2) {
  transform: rotate(-45deg);
  top: 0.563rem;
  background-color: var(--color-inverted-nav);
}

.header__mobile-btn.active span:nth-child(3) {
  display: none;
}

.header__mobile-btn.active span:nth-child(4) {
  transform: rotate(45deg);
  background-color: var(--color-inverted-nav);
}

.header__mobile-btn:focus {
  outline: var(--primary-focus);
}

.header__mobile-btn[aria-expanded="true"]:focus {
  outline: var(--secondary-focus);
}

.header__nav {
  position: absolute;
  top: -100rem;
  width: 100%;
  text-align: center;
  background-color: var(--color-primary);
  transition: top 0.3s ease-in-out;
  z-index: 99;

  @media (min-width: 48rem) {
    top: 4rem;
    background-color: transparent;
  }
}

.header__nav.active {
  top: 0;
}

.header__nav ul {
  display: none;
  padding-block-start: 4rem;
  padding-block-end: 3rem;
  width: 100%;

  @media (min-width: 48rem) {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-items: end;
    width: 63%;
    margin-inline-start: auto;
    padding-block: 0;
  }
}

.header__nav.active ul {
  display: block;
}

.header__nav li {
  margin-block-end: 2rem;
}

.header__nav a {
  color: var(--color-inverted-nav);
  text-decoration: none;
  &:focus {
    outline: var(--secondary-focus);
  }

  @media (min-width: 48rem) {
    font-size: 1.1rem;
    color: var(--color-primary);
    &:focus {
      outline: var(--primary-focus);
    }
  }
}

.header__nav.active a {
  text-decoration: none;
}

.header__theme {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  bottom: -150%;
  left: 0.6rem;
  background: transparent;
  border: none;
  transition: 0.2s;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: var(--primary-focus);
  }
  svg {
    height: 100%;
  }

  @media (max-width: 48rem) {
    bottom: -75%;
  }
}

html[data-theme="dark"] .header__theme svg:first-of-type {
  display: none;
}

html[data-theme="light"] .header__theme svg:nth-of-type(2n) {
  display: none;
}

.header__theme:focus,
.header__theme:hover {
  transform: scale(1.2);
}

/* Profile */

.profile {
  display: grid;
  margin-block-start: 10rem;
  text-align: center;
  justify-items: center;
  position: relative;
  z-index: 2;

  @media (min-width: 48rem) {
    margin-block-start: 17rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

.profile::after {
  display: block;
  content: "";
  width: 150%;
  height: 3.125rem;
  position: relative;
  bottom: 0;
  background: var(--background-profile);
  z-index: -1;

  @media (min-width: 48rem) {
    position: absolute;
    height: 120%;
    top: -10%;
    left: 20%;
    background: linear-gradient(to right, rgba(114, 114, 114, 0.13), #00000000);
  }
}

.profile h1 {
  font-size: 2.8rem;
  font-weight: var(--fw-300);
  text-transform: uppercase;
  line-height: 1.2em;
}

.profile__socials {
  display: grid;
  grid-template-columns: repeat(4, 4rem);
  justify-content: center;
  justify-items: center;
  margin-block-start: 0.7rem;

  @media (min-width: 48rem) {
    position: absolute;
    top: -13.5rem;
    right: 0.3rem;
    justify-items: end;
    gap: 0.5rem;
  }
}

.profile__socials svg {
  fill: var(--color-primary);
}

.profile__socials .socials-link:hover svg,
.profile__socials .socials-link:focus svg {
  fill: var(--color-accent);
}

.profile__img {
  position: relative;
  z-index: 99;
  width: 65%;
  max-width: 20rem;
  margin-inline: auto;
  margin-block-start: 3.2rem;
  order: 4;

  @media (min-width: 48rem) {
    order: 0;
    margin-block-start: 0;
    margin-left: auto;
    position: relative;
    left: 8%;
  }
}

@media (min-width: 48rem) {
  .profile__text {
    text-align: left;
  }
}

.profile__text h2 {
  font-size: 1.3rem;
  font-weight: var(--fw-regular);
  color: var(--color-accent);
  text-transform: uppercase;
  margin-block-start: 1.8rem;

  @media (min-width: 48rem) {
    margin-block-start: 0.5rem;
  }
}

.profile__text p {
  margin-block-start: 3.2rem;
  text-align: left;

  @media (min-width: 48rem) {
    margin-block-start: 2rem;
  }
}

.profile__text p:nth-of-type(2) {
  margin-block-start: 1rem;
}

.profile__resume {
  margin-block-start: 3rem;
}

/* Skills */

.skills__list {
  max-width: 60rem;
  margin-block-start: 8rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6.25rem, 10.625rem));
  justify-content: center;
  gap: 3rem;

  @media (min-width: 48rem) {
    margin-inline: auto;
  }
}

.skills__item {
  display: grid;
  justify-items: center;
}

.skills__item svg {
  width: 3rem;
  height: 3rem;
}

html[data-theme="dark"] .skills__item .nextjs {
  fill: var(--color-primary-light);
}

.skills__item p {
  margin-block-start: 0.8rem;
}

/* Projects */

.projects__list {
  margin-block-start: 8rem;
}

.projects__list .projects__item:nth-child(2n) {
  @media (min-width: 48rem) {
    .projects__text {
      text-align: start;
      order: 1;
    }

    .projects__logo {
      margin-inline: 0 auto;
    }

    .projects__description {
      text-align: start;
    }

    .projects__links {
      justify-content: start;
    }

    &::before {
      background: linear-gradient(to right, rgba(114, 114, 114, 0.112), rgba(0, 0, 0, 0));
      left: 15%;
    }
  }
}

.projects__item {
  display: grid;
  position: relative;
  z-index: 3;

  @media (min-width: 48rem) {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

.projects__item:not(:first-child) {
  margin-block-start: 4rem;

  @media (min-width: 48rem) {
    margin-block-start: 10rem;
  }
}

.projects__item:before {
  display: block;
  position: absolute;
  content: "";
  width: 150%;
  left: -25%;
  height: 20rem;
  background: linear-gradient(to bottom, rgba(114, 114, 114, 0.082), #00000000);
  z-index: -1;

  @media (min-width: 48rem) {
    background: linear-gradient(to left, rgba(114, 114, 114, 0.112), #00000000);
    width: 100%;
    height: 120%;
    bottom: -10%;
    left: -15%;
    z-index: -1;
  }
}

.projects__text {
  text-align: center;

  @media (min-width: 48rem) {
    text-align: end;
    margin-block: auto;
  }
}

.projects__logo {
  margin-block-start: 3rem;
  margin-inline: auto;
  max-width: 65%;
  font-size: 1.8rem;

  @media (min-width: 48rem) {
    margin-inline: auto 0;
    margin-block-start: 0;
  }
}

html[data-theme="dark"] .projects__logo .projects__light {
  display: none;
}

html[data-theme="light"] .projects__logo .projects__dark {
  display: none;
}

.projects__stack {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: var(--color-accent);
}

.projects__description {
  margin-block-start: 2rem;
  text-align: center;

  @media (min-width: 48rem) {
    margin-block-start: 0.8rem;
    text-align: end;
  }
}

.projects__links {
  margin-block-start: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1.2rem;

  @media (min-width: 48rem) {
    margin-block-start: 1.5rem;
    justify-content: end;
  }
}

.projects__img {
  margin-block-start: 3.5rem;
  max-width: 130%;
  position: relative;
  left: -15%;

  @media (min-width: 48rem) {
    z-index: 10;
    margin-block-start: 0;
    max-width: 100%;
    left: 0;
  }
}

.btn-2 {
  color: var(--color-primary-dark);
  background: transparent;
  border: 0.125rem solid var(--color-primary-dark);
}

/* Contact */

.contact__text {
  margin-block-start: 8rem;
  text-align: center;
  a {
    color: var(--color-accent);
  }
}
/* Footer */

.footer {
  margin-block-start: 8rem;
  background-color: var(--background-footer);
}

.footer nav ul {
  display: grid;
  justify-items: center;
  gap: 2.8rem;
  margin-block-start: 5rem;

  @media (min-width: 48rem) {
    width: 30rem;
    grid-template-columns: repeat(4, 1fr);
    margin-inline: auto;
  }
}

.footer a {
  color: var(--color-primary-light);
  text-decoration: none;
}

.footer__logo {
  margin-block-start: 3rem;
  text-align: center;
  color: var(--color-primary-light);
}

.footer__socials {
  display: grid;
  grid-template-columns: repeat(4, 6rem);
  justify-content: center;
  justify-items: center;
  margin-block-start: 2rem;
  margin-block-end: 2.5rem;
}

.footer__socials svg {
  fill: var(--color-primary-light);
}

.footer__socials a:focus {
  outline: var(--secondary-focus);
}

.footer__credits {
  background-color: var(--color-alt-dark);
  text-align: center;
  color: var(--color-primary-light);
  padding-block: 1em;
}

.footer__credits p {
  font-size: 0.8rem;
}

/* ANIMATIONS*/

@keyframes background-color-shift {
  0% {
    background-color: #208307;
  }
  20% {
    background-color: #5dc742;
  }
  40% {
    background-color: #92f579;
  }
  60% {
    background-color: #5dc742;
  }
  80% {
    background-color: #5bb445;
  }
  100% {
    background-color: #208307;
  }
}

/* Unused animation from old site

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

*/
